{% comment %} {% extends 'contacts/base.html' %} {% endcomment %}
{% block content %}
<div class="container mt-5">
    <h2>Iniciar Sesión</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_username">Correo:</label>
            <input type="text" class="form-control" name="username" required>
        </div>
        <div class="mb-3">
            <label for="id_password">Contraseña:</label>
            <input type="password" class="form-control" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
</div>
{% endblock %}